<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<header>
  <% include ../partials/header %>
</header>

<main>
    <body class="center">
      <h2>Your Poll: <%= poll.title %></h2>
      <h3>Question: <%= poll.question %></h3>
      <a href='/polls/<%= poll.adminKey %>/<%= poll.id %>'>
        Link to Admin Dashboard for Poll
      </a>
      <br>
      <br>
      Share
        <a href='polls/<%= poll.id %>'>this link</a>
      with others to get their votes:
      <% include ../partials/scripts %>
    </body>
  </main>
  <footer>
    <% include ../partials/footer %>
  </footer>


</html>
